
<p><%= image_tag 'welcome-tto-my-site1.gif', :class => "welcome-gif" %></p>

<h1>NOAH LEAL: "JUNIOR" WEB DEVELOPER</h1>
<ul>
  <li><%= link_to "About", about_path%></li>
  <li><a href="">Projects</a></li>
  <li><a href="">Stack</a></li>
  <li><a href="">Reading List</a></li>
  <li><a href="">Contact</a></li>
</ul>


