.projects-background {
  background-image: image-url('projects-background.jpg');
  min-height: 100vh;
}

.mac-background {
  background-image: image-url("Mac-OS9-window.png");
  background-repeat: no-repeat;
  object-fit: fill;
  min-height: 580px;
  max-height: 555px;
  font-size: 13px;
  background-size: 680px 580px;
}

.logos {
  margin: -10px;
}
 .logos img{
  width: 100px;

 }

