
<div class="about-background">
  <div class="vertical-wrapper text-center">
    <div class="container windows-background">
      <div class="row about-row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <br>
          <h3>Who is Noah Leal?</h3>
          <p>I am a Ruby on Rails software engineer with a multidiciplinary background. I studied fullstack development at Le Wagon in Berlin and graduated with a love for backend engineering, and no, my front end skills aren't stuck in the 90's- I just like the a e s t h e t i c. I love spending time with my friends, reading good books, talking to my parents on the phone and humor.</p>
          <h3>What do I know?</h3>
          I studied liberal arts at <a href="https://www.sjc.edu/about"> St. John's College </a> in Santa Fe, New Mexico. St. John's is a very unusual, but very incredible place to study. The school offers no choice in what you study, so each student follows the prescribed classics program. At best, going through the program gives you a history of Western thinking in many forms, and fosters the ability to think well and ask good questions.  Among other things, we studied Ancient Greek, astronomy, opera, poetry, linguistics, Euclidean Geometry, Calculus, biology and electrodynamics. You can read my thesis on Heideggarian aesthetics here.
          <h3>Why should you hire me?</h3>
          I genuinely love coding, I live to learn, and I get a lot of motivation from working with other people. What can I say? I play well with others. I take things slow, I unpack problems with my teammates and I articulate my own questions and confusions coherently and understandably. We learn by being honest, and I'm working my way from irony to sincerity.
        </div>
      </div>
    </div>
  </div>
</div>
