<p>I am a FullStack web developer based in Berlin Germany. </p>


<code><span style="display:inline-block;line-height:2px; font-size: 2px; font-weight:bold;white-space:pre;font-family: monospace;color: #130; background: #0F0;">............................................................         ......               ........
.....................................  .....................         ......             ..........
............................................................         ......             ..........                .
............................................................         ......            ...........
...........................................................................             ..........
.................................................  ........................              ........
.............................................    ..........................  .........  .............
..............................................    .........................................   ..........
..............................................   ..........................................    .........
.............................................. ..............................................    ....,,..   ..
.............................................  ....................... ...................... .....................
.......................................................................... .............,,..............,,..........
.............................................................................,,*****/*,,*****,,.......,,,,..........
........................................................................,**,,,,**//((((/((##((////***//*,,...........
...................................................  ....,,,......,*///*****,**//((###################((*********,,,......
........................................................,,,,,,.,,*/(#######((((((#######%%%%%############((/*,,,,,........
........................................................,********/(##%##################%%%%%%%###########((*,,,,,,.......
...................................................,,...,*((########%%%%%%###%######%%###%%%%%%#############(/****,,......
...      ......................................,,,**//**//(######%%%%%%%%%%%%%%%%%%%##%%%#################%####((/*,.........
....     ....................................,,***//(((///(##%%%%%%%%%%%##%%%%%%%%%%%%%%%%##%######%%#####%#%%%####((/*,......
....     ..................................,,..,,*///((((##%%%%%%%%%%%%%##%%%%%%%%%%%%%%%%%%%%%%%%%%%%##%%%%%%%%%#####((/*,,,,...
....  ................    ................,,,,,..,*//(##%%%%%%%%%%%%%%%%##%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%#######(/*,...
 ..........................................,*//((((###%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%####(/*,..
   ..... ............     ..................,*(###%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%####%#(/,.
.   ....  ................... .............,*/(###%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%#######%##/,.
         ...................   ...........,,*/(((##%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%#######(*,....
                                 ..........,*/(###%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%##(/,.....
                                 ..   ......*/#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%###(/,....
             .......           ...........,*/##%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%#%%%%%%%%%%%####(/,....
           ............. ..    ....  .....*/##%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%###/*.
   ......  ..  ...    .............. .....,*(#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%####/,.
   ..........         ....       .... ....,*/##%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%##(*,...
   ..........        . ...       ..........*/#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%##/*,....   ..
   .......         .....    ..............,*(#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%###(/***,,,.....
  ........         ....      .......,,,****/##%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%###(((*,......
  ........                  ........,,,*/(#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%######%%%%%%%%%%%%%%%%%%%%%%###%%%%%%%%%%%%%%%%%#((/**,......
  ........                   ........,,,*/(#%%%%%%%%%%%%%%%%%%%%%%%%%%%%##########%%%%%%%%%%%%%%%%%%%%%######%%%%%%%%%%%%%###((//*,...
  .......                     .......,**//(#%%%%%%%%%%%%%%%%%%%%%%%%%#####################%%%%%%%%%%%%%%######%%%%%%%%%%%#%#((/**,.....
  ........             ..    ..........,*/(##%%%%%%%%%%%%%%%%%%%%%%#######((((((((#########%%%%%%%#############%%%%%%%%%%%###((///*,,...
                                 ........,/(##%%%%%%%%%%%%%%%%%%%%######((((((((((((((#######################%%%%%%%%%%%%%####(((/*,... .
                               ..........,*(##%%%%%%%%%%%%%%%%%%%%######(((((((((((((((################((((##%%%%%%%%%%%%%##((/**,.......
                               .......,,,**/(#%%%%#%%%%%%%%%%%%#########(((((((((((((((((#########((((((((((##%%%%%%%%%%%%%##(///**,,,..
                               ..........,*(##%%%%###%%%%%%%%%########(((((((((((((((((((((###((((((((((((((######%%%%%%%%%###(//*,,...
                                 .......,*(####%%%%#%%%%%%%%#########(((((((((((((((((((((((###((((((((((((((######%%%%%%%##((*,,...
                                    ....,*/##%%%%%%%%%###%#######((((((((((((((((((((((((((###(((((((((((((((((#######%####(/*,,,...
                                    ...,*/##%%%%%%%%%%%%%%####(((((((((((((((((((((((((((########((((((((((((((((#######(////*,....
                                   ...,*/######%%%%%%%%%%####((((((((((((((((((((((((((((((##################(((((((#####(/*,.....
                                    ....*/###%%%%%%%%%%%####((((((((((((((((((((((((((((((((((################((((((######(/*.....
                                    .....*/#%%%%%%%%%%%%####((((((((((((((((((((((((((((((((((################((((((###((((/*..
        .                                .,*/(#%%%%%%%%%#####((((((((((((((((((((((((((#####################((((((((((##(/*,.
         ........                        ..,*/(##%%%%%%%%###((((((((((((((((((((((#######################(((((((((/**/(((*,.
.......,,*/(#((//**,,...                   ...*((#%%%%%%####((((((((((((((((((###########################((((((((((////*,..
,*/(((((((##%%%######(//**,,...              ..**(##%%%%####(((####(((((((((###############################(((////((/*,..
/((#########%%%%%%%%%#####(((//***,,....      .,,***/(######((#########((((#################################(/,....,,,,..
(((##########################((((((((///*,,...,,,..,/(####((((#############################################(/,.
(((((((((((((((((((((/////////((((######(((///*,,...,/((((((((##########################################(((*,.
(((((((((((((((((((((///////(((##############((**,.,,/((((((((###################(######################((/,.
((((((((((((((((((((/////((###%%%%%%%%%%%%%%%####((((((((((((((##################(((###################((*,.
(((((((((((((((((((((((((####%%%%%%%%%%%###########((((((((((((######################################((/,.
((((((((((((((((((((((##############((((((###((####((((((((((((((#################################(((/*..
(((((((((((((((((((((############(((((((####(((####((((((((((((####################################(/,.
((((((((((((((((((((##########((((((((##(((//((####((((((((((((((##############%%%%%#%%%#########(/*..
(((((((((((((((((((##########((((((((##((////((####((((((((((((##############%%%%%%%%%%########((*.
(((((((((((((((((##########((((((((####(/**//((#####((((((((((####################%%%%#########((*.
(((((((((((((((((#########((((((((#####(//*//((#####((((((((#####################%%%%##########((*.
((((((((((((((###########((((((((#####(((////((((####((((((######################%##########%%###/**,.
(((((((((((((##########(((((((######((((((///((((####((((##################################%%%###(((/*..
(((((((((((((####((((((((((((#####(((((########(((########################################%%%####(((((/,.
(((((((((((####((((((((((((#######(((((((##%%##((((######((((############################%%####(((((##(*,.
((((((((((#######(((((((#########((////(##%%###((((((###(((((((((#######################%%###((((//(###/*.
((((((((###########(((###########((////((#%%%%###(/(((((((((((((((####################%%####((((((//(##(/,.
####((((#########################((/////(#%%%%%%%##(((((((((((((((((#################%%%####(((####((###(*,....
#################################((/////(##%%%%%%###(((((((((((((((((################%%%##(((((((##(((##(/*,,,,....
###########((((##################((////((##%%####%%###((((((((((((((#################%%#(((//////(((////(((((((((//*,..
#########((((((((((############((((((((((((############(((((((((((((((((((((#########%##((///////(###(////((##((((((((//**,.
#################(((((########((((((((((((((############(((((((((((((((((((((((########(((///((###%%%###((((######(((####((/*,...
((((((#############((((((((##(((((##(((((((((#############(((((((((((((((((((((((####(((((((###%%%%%%%%%%####################(/,,..
(((((((########%%#######((((((####%%%%%%###((((((###########(((((((((((((((((((((((((((((((###########%%%%##################(((//*,.
(((((((((#(((##%%%%%%%#########%%%%%%%%%%%%###((((((((########(((((((((((((((((((((/////((####(###########################%%%%#(((/*,.
</span></code>
