<div class="video-background">
    <div class="video-foreground">
      <iframe src="https://www.youtube.com/embed/WpKgiqmXM30?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
<div class="contact-background">
  <div class="vertical-wrapper text-center">
    <div class="container">
      <div class="row about-row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <img src="assets/aimprofile.png" alt="if you can't see this, you can email me: noahleal@me.com" usemap="#image-map">
        </div>
      </div>
    </div>
    <%= link_to "Back", root_path  %>
  </div>
</div>



<map name="image-map">
    <area target="_blank" alt="LinkedIn" title="LinkedIn" href="https://www.linkedin.com/in/noahleal/" coords="183,331,240,384" shape="rect">
    <area target="_blank" alt="github" title="github" href="https://github.com/noahleal" coords="183,223,240,278" shape="rect">
    <area target="" alt="email" title="email" href="mailto:noahleal@me.com" coords="188,452,239,489" shape="rect">
</map>
