<div class="projects-background">
  <div class="vertical-wrapper text-center">
    <div class="container mac-background">
      <div class="row about-row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <br>
          <h3 class="logos"><a target="_blank" href="http://www.artroom.fun"><img src="assets/Artroom.png" alt="artroom logo"></a></h3>
          <p>Artroom is a contemporary art discovery application built with Ruby on Rails. I worked with a group of four people using Git and pair programming to colaborate. Our process included morning task delegation and progress reports and iterative development through branch
          pull-requests and code-reviews. I focused mainly on frontend
          design and UX; Active Admin; model generation; a complex
          index method; bug hunting and squashing; content writing;
          seed generation and art research. Though, being such a small
          team, I took on various daily tasks as they arose including
          constant debugging for team members and code-review. <a target="_blank" href="https://github.com/GLTaylor/Artroom">repo</a> </p>
          <h3 class="logos"><a target="_blank" href="https://jolt-171.herokuapp.com/"><img src="assets/Jolt.png" alt="jolt logo"></a> </h3>
          Jolt is an AirBNB clone that served as a preliminary project to
          prepare for Artroom. Built using Ruby on Rails, ActiveRecord,
          SASS, PostgreSQL, pg_search, cloudinary, Heroku, pry-byebug and Figma. <a target="_blank" href="https://github.com/GLTaylor/JOLT">repo</a>
          <h3><a href="http://www.afea.co.uk/">AFEA</a></h3>
          My first solo project after Le Wagon, designed using
          WordPress at the client's request. I am responsible for the site
          from the ground up including private server management. I
          developed the site on my localhost and migrated to a server
          owned by the client. AFEA is an organization, so my duties
          include managing the design requests of and reporting to
          multiple people.
        </div>
      </div>
    </div>
    <%= link_to "Back", root_path  %>
  </div>
</div>
